@{ ViewData["Title"] = "Queue Status"; }

<h2>Queue: @ViewData["queue"]</h2>

<a class="btn btn-primary" asp-area="" asp-controller="Queue" asp-action="Push">Publish a new message</a>
<a class="btn btn-danger" asp-area="" asp-controller="Queue" asp-action="Pop">Dequeue a message</a>